<div class="page">
  <h3 class="heading">Hey there &#9786; Welcome Here ...</h3>
  <p class="lead">Here you Can Manage your Daily Tasks and you can share with your Team/Friends/Family.</p>
  <div class="auth clearfix">
      <a href="{{baseUrl}}/auth/google" class="button  btn-social btn-google"><span class="fa fa-google"></span>Login</a>
      <a href="{{baseUrl}}/auth/google" class="button  btn-social btn-google"><span class="fa fa-google"></span>Register</a>
  </div>   
  <div class="auth clearfix">
       <a href="{{baseUrl}}/auth/google" class="button  btn-social btn-google"><span class="fa fa-google"></span>Signin With Google</a>
  </div>
</div>
