<!doctype html>
<html lang="en">
  <head>
    {{> _head }}
  </head>
  <body class="home">
      <div class="wrapper">
            <div class="inner_wrapper">
              {{{body}}}
              {{> _footer }}
            </div>
      </div>
  </body>
</html>
